@import 'scss/font-family';

//主要用的几种颜色
$green: #5fc0cd;
$font-hui: #999;
$red: #ec6b4a;
$border-hui: #e1e5e7;
$white: #fff;

//行高
$line-h: 3rem;
//宽
$width: 100%;

//通用设置
* {
    padding: 0;
    margin: 0;
}

//顶部背景
@mixin header-bg {
    width: $width;
    
    color: $white;
    background-color: $green;
}


//清除浮动
@mixin clear($clear-name) {
    #{$clear-name}:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin clear-a {
        content: '';
        display: block;
        clear: both;
}

//内边距
@mixin padding($p-top,$p-right,$p-bottom,$p-left) {
    padding-top: $p-top;
    padding-right: $p-right;
    padding-bottom: $p-bottom;
    padding-left: $p-left;
}

//外边距
@mixin margin($t,$r,$b,$l) {
    margin-top: $t;
    margin-right: $r;
    margin-bottom: $b;
    margin-left: $l; 
}

//a属性的设置
@mixin a-all {
    font-size: 1.1rem;
    color: $white;
    text-decoration: none;
}

//文字水平居中
@mixin text-center {
    text-align: center;
}

//黑色蒙版
@mixin mask($mask-name,$mask-color,$mask-opacity) {
    #{$mask-name}:before {
        content: '';
        display: block;
        width: 100%;
        height: 1000px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        opacity: $mask-opacity;
        background-color: $mask-color;
    }
}

.header {
    img {
        position: absolute;
        top: 14px;
        left: 15px;
        z-index: 99999999;
        width: 13px;
        height: 22px;
    }
    
    h4 {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: $line-h;
    }
    
    position: fixed;
    z-index: 99999999;
    top: 0;
    
    @include text-center;
    @include header-bg;
}
@include clear('.header');



//圆
@mixin circular($circular-w,$circular-h) {
    width: $circular-w;
    height: $circular-h;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

//radius
@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

//定位
@mixin position-a($position-t,$position-l,$position-r,$position-b) {
    position: absolute;
    top: $position-t;
    left: $position-l;
    right: $position-r;
    bottom: $position-b;
    z-index: 9998;
}

//背景图片
@mixin bg-img($bg-s-x,$bg-s-y,$bg-p) {
    background-repeat: no-repeat;
    background-size: $bg-s-x $bg-s-y;
    background-position: $bg-p center;
}

.main {
    width: $width;
    position: relative;
    margin-top: $line-h;
    margin-bottom: $line-h;
    
    .p-color {
        color: $font-hui; 
    }
        
    .p-red {
        color: $red;
    }
    
    .main-top {
        & {
            position: relative;
            width: $width;
            height: 200px;
            overflow: hidden;
            color: $white;
        }
        
        @media screen and (min-width: 500px) {
            & {
                height: 300px;
            }
        }
        
        > img {
            width: $width;
            z-index: 1;
        }
        
        > div {
            @include position-a(
                $position-t: 25%,
                $position-r: 0,
                $position-l: 0,
                $position-b: 0);
        }
    
        .head-img {
            margin: 0 15px;
            overflow: hidden;
    
            @include circular(
                $circular-w: 100px,
                $circular-h: 100px);
                
            > img {
                position: relative;
                top: -40px;
                left: -199px;
            }    
            @media screen and (min-width: 500px) {
                & {
                    margin: 0 30px;
                }
            }
        }
        
        .head-name {
            top: 36%;
            left: 150px;
            width: 60%;
            font-size: 0.9rem;
            
            @media screen and (min-width: 500px) {
                & {
                    left: 180px;
                }
            }
            
            span {
                font-size: 1.1rem;
                margin-right: 10px;
            }
            
            p {
                padding-left: 23px;
                margin-top: 10px;
                background-image: url(../img/images/t3.png);
                @include bg-img(
                    $bg-s-x: 13px,
                    $bg-s-y: 17px,
                    $bg-p: left);
            }
        }
    }
    
    @include mask(
        $mask-name:'.main-top',
        $mask-color: #000000,
        $mask-opacity: 0.3);
    
    .main-bottom {
        width: $width;
        
        h4,p {
            display: inline-block;
            line-height: $line-h;
        }
        
        span {
            margin: 0 10px;
            line-height: 1.5rem;
            color: $border-hui;
        }
        
        > div {
            padding-left: 20px;
            width: 90%;
            line-height: $line-h;
            float: right;
            border-bottom: 1px solid $border-hui;
        }
        
        .line-1 {
            width: $width;
            
            span {
                font-weight: bold;
                color: $green;
            }
        }
        
        .line-2 {
            p {
                padding-left: 26px;
                background-image: url(../img/images/task5-1_07.png);
                @include bg-img(
                    $bg-s-x: 18px,
                    $bg-s-y: 18px,
                    $bg-p: left);
            }    
        }
        
        .line-finish {
            width: $width;
            
            p,span {
                float: left;
                line-height: $line-h;
            }
            
            > p {
                margin-left: 10%;
            }
            
            > div {
                width: 198px;
                float: left;
                display: inline-block;
                line-height: $line-h;
                font-size: 0.8rem;
                
                & {
                    @inclu clear-a;
                }
                
                p {
                    line-height: 1.5rem;
                }
            }
        }
    }
    
    @include clear('.main-bottom');
}

.footer {
    width: $width;
    text-align: center;
    padding: 15% 0 2% 0;
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    
    button {
        padding: 2% 0;
        margin: 0 2%;
        width: 40%;
        border: 1px solid $green;
        font-size: 1.1rem;
        color: $green;
        background-color: transparent;
        @include radius(5px);
        }
        @media screen and (min-width: 500px) {
            button {
                width: 210px;
                padding: 10px;
            }
    }
    
    .btn-2 {
        color: $white;
        background-color: $green;
    }
}
